@page "/users"
@using Application.Commands.Users.CreateUser
@using Application.Common.Mediator
@using Application.DTOs.UserDto
@using Application.Queries.Users.GetUsers
@using Infrastructure.Mediator
@rendermode InteractiveServer

<h3>Users</h3>

<EditForm Model="@newUser" OnValidSubmit="OnAddUser" FormName="AddNewUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="newUser.Username" />
        <ValidationMessage For="@(() => newUser.Username)" />
    </div>

    <div>
        <label>Age:</label>
        <InputNumber @bind-Value="newUser.Age" />
        <ValidationMessage For="@(() => newUser.Age)" />
    </div>

    <button type="submit">Add User</button>
    <p>DEBUG: @newUser.Username / @newUser.Age</p>
</EditForm>

<ul>
    @foreach (var user in users)
    {
        <li>
            @user.username - @user.age years old
        </li>
    }


</ul>

@code {

    [Inject]
    private IMediator mediator { get; set; } = null!;

    private List<UserDto> users = new();
    private CreateUserDto newUser = new();

    protected override async Task OnInitializedAsync()
    {
        users = await mediator.SendAsync(new GetUsersQuery());
    }


    private async Task OnAddUser()
    {
        Result<UserIdDto> result = await mediator.SendAsync(new CreateUserCommand(newUser.Username, newUser.Age));
        if (!result.IsSuccess)
        {
            // Handle error (e.g., show a message to the user)
        }

        users = await mediator.SendAsync(new GetUsersQuery());
        newUser = new CreateUserDto();

        StateHasChanged();
    }
}
